# Pembuatan Variable
note: set nama variable dengan singaktan yang dimengerti programmer lain

In [ ]:
import sqlite3
conn = sqlite3.connect('database/test_autoincrement.db')
cursorObj = conn.cursor()

cursorObj.execute("CREATE TABLE employees(id integer PRIMARY KEY, name text, salary real, department text, position text, hiredDate text)")
conn.commit()

entities = [('Phillip', 750, 'Finance', 'Accounting', '2016-05-12'),
            ('Andreas', 650, 'HR', 'Admin', '2018-08-22'),
            ('Trias', 920, 'Tech', 'Manager', '2012-01-29')]

# Execute INSERT statement inside loop
for entity in entities:
    cursorObj.execute('''INSERT INTO employees(name, salary, department, position, hiredDate) VALUES(?, ?, ?, ?, ?)''', 
                      entity)
    conn.commit()

In [2]:
# tidak disarankan
tp = 1000

# direkomendasikan
total_pegawai = 1000

buat variable yang konsisten dan kasih komentar buat setiap baris code

In [1]:
# import library dataframe
import pandas as pd

#library konektor sqlite
import sqlite3

#read data
df = pd.read_csv("/Users/renyoktavianti/miniconda3/envs/DSC-Repository/Code Request/data.db")

#buat koneksi database
conn = sqlite3.connect('data.db')

# buat tabel didalam database, database di assign pada variable conn, isi table ga pakai index
df.to_sql('nama_table', conn, if_exists='replace', index=False)

# tutup koneksi db
conn.close()

AttributeError: module 'pandas' has no attribute 'read_db'

In [ ]:
# tidak disarankan
c = ["UK", "USA", "UAE"]

for x in c:
    print(x)


"""
proses looping
variable cities merupakan kode nama negara dengan tipe list
UK : United Kingdom
USA: United States
IDN: Indonesia
ZBW : Zimbabwe

variable city akan menampung values dari variable cities
proses looping ini akan menampilkan keluaran kode nama negara
"""

# direkomendasikan
cities = ["UK", "USA", "IDN", "ZBW"]
for city in cities:
    print(city)

Hilangkan ambigu

In [ ]:
# tidak disarankan
fn = 'Fuguh'
Ln = 'Budi'
cre_tmstp = 1621535852

# disarankan
first_name = 'Fuguh'
Las_name = 'Budi'

Ketika membuat fungsi, buatlah fokus pada 1 proses fungsi saja, jangan digabung dengan berbagai macam fungsi

In [ ]:
# Not recommended
def fetch_and_display_users():
    users = [] # result from some api call

    for user in users:
        print(user)

    return user

# Recommended
def fetch_users():
    users = [] # menampung hasil data dari get API
    return users

def display_users(users):
    for user in users:
        print(user)

Jangan membuat redundant/duplikasi

In [ ]:
# tidak direkomendasikan
class Person:
    def __init__(self, person_username, person_email, person_phone, person_address):
        self.person_username = person_username
        self.person_email = person_email
        self.person_phone = person_phone
        self.person_address = person_address

# direkomendasikan
class Person:
    def __init__(self, username, email, phone, address):
        self.username = username
        self.email = email
        self.phone = phone
        self.address = address