In [11]:
import pandas as pd
import numpy as np
import sqlite3

In [54]:
data_pokemon = data_pokemon.drop('#', axis=1) # Drop column #

In [53]:
data_pokemon = pd.read_csv("/Users/renyoktavianti/miniconda3/envs/DSC-Repository/[GOLD] Chapter 4/Copy of pokemon.csv")
data_pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,2,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,3,False
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False
147,148,Dragonair,Dragon,NaN,420,61,84,65,70,70,70,2,False
148,149,Dragonite,Dragon,Flying,600,91,134,95,100,100,80,3,False
149,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
150,151,Mew,Psychic,NaN,600,100,100,100,100,100,100,1,False

In [123]:
# id_pokemon: int PK
# Name: varchar(255)
# Type1: varchar(255)
# Type2: varchar(255)
# Total: float
# HP: int
# Attack: int
# Defense: int
# sp_atk: int
# sp_def: int
# speed: int
# stage: int
# legendary: boolean

In [55]:
conn = sqlite3.connect('database/data_pokemon.db')

In [56]:
conn.execute('''
drop table pokemons;
''')
conn.commit()

In [57]:
conn.execute('''
CREATE TABLE pokemons (id INTEGER PRIMARY KEY AUTOINCREMENT, 
                       nama_pokemon varchar(255) not null,
                       type1 varchar(255),
                       type2 varchar(255),
                       total float,
                       hp int,
                       attack int,
                       defense int,
                       sp_atk int,
                       sp_def int,
                       speed int,
                       stage int,
                       legendary boolean
);
''')
conn.commit()

In [58]:
data_pokemon.columns

Index(['Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Stage', 'Legendary'],
      dtype='object')

In [59]:
data_pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       151 non-null    object
 1   Type 1     151 non-null    object
 2   Type 2     67 non-null     object
 3   Total      151 non-null    int64
 4   HP         151 non-null    int64
 5   Attack     151 non-null    int64
 6   Defense    151 non-null    int64
 7   Sp. Atk    151 non-null    int64
 8   Sp. Def    151 non-null    int64
 9   Speed      151 non-null    int64
 10  Stage      151 non-null    int64
 11  Legendary  151 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 13.2+ KB

In [60]:
data_pokemon.columns = ['Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Stage', 'Legendary']

In [61]:
data_pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,2,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,3,False
3,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,2,False

In [62]:
data_pokemon_values = data_pokemon.values

In [63]:
for pokemon in data_pokemon_values:
    if pd.isna(pokemon[0]) == False:
        nama_pokemon = f'"{pokemon[0]}"' # ie: "mewtwo"
    else:
        nama_pokemon = 'NULL'

    if pd.isna(pokemon[1]) == False:
        type1 =  f'"{pokemon[1]}"' # ie: "water"
    else:
        type1 = 'NULL'
        
    if pd.isna(pokemon[2]) == False:
        type2 = f'"{pokemon[2]}"' # ie: "sea"
    else:
        type2 = 'NULL'
        
    if pd.isna(pokemon[3]) == False:
        total = pokemon[3]
    else:
        total = 'NULL'
        
    if pd.isna(pokemon[4]) == False:
        hp = pokemon[4]
    else:
        hp = 'NULL'
    
    if pd.isna(pokemon[5]) == False:
        attack = pokemon[5]
    else:
        attack = 'NULL'
        
    if pd.isna(pokemon[6]) == False:
        defense = pokemon[6]    
    else:
        defense = 'NULL'
        
    if pd.isna(pokemon[7]) == False:
        sp_atk = pokemon[7]
    else:
        sp_atk = 'NULL'

    if pd.isna(pokemon[9]) == False:
        sp_def = pokemon[9]
    else:
        sp_def = 'NULL'

    if pd.isna(pokemon[8]) == False:
        speed = pokemon[8]
    else:
        speed = 'NULL'        
    if pd.isna(pokemon[10]) == False:
        stage = pokemon[10]
    else:
        stage = 'NULL'
        
    if pd.isna(pokemon[11]) == False:
        legendary = pokemon[11]
    else:
        legendary = 'NULL'

    
    sql_string = f"""
        INSERT INTO pokemons 
        (nama_pokemon, type1, type2, total, hp, attack, defense, sp_atk, sp_def, speed, stage, legendary) 
        VALUES 
        ({nama_pokemon}, {type1}, {type2}, {total}, {hp}, {attack}, {defense}, {sp_atk}, {sp_def}, {speed}, {stage}, {legendary});
    """

    conn.execute(sql_string)

conn.commit()

In [67]:
result = conn.execute('''
select * from pokemons where type2 = 'none';
''')
conn.commit()

for x in result:
    print(x)

In [68]:
result = conn.execute('''
select * from pokemons where type2 = 'NULL';
''')
conn.commit()

for x in result:
    print(x)

In [69]:
result = conn.execute('''
select * from pokemons;
''')
conn.commit()

for x in result:
    print(x)

(1, 'Bulbasaur', 'Grass', 'Poison', 318.0, 45, 49, 49, 65, 45, 65, 1, 0)
(2, 'Ivysaur', 'Grass', 'Poison', 405.0, 60, 62, 63, 80, 60, 80, 2, 0)
(3, 'Venusaur', 'Grass', 'Poison', 525.0, 80, 82, 83, 100, 80, 100, 3, 0)
(4, 'Charmander', 'Fire', None, 309.0, 39, 52, 43, 60, 65, 50, 1, 0)
(5, 'Charmeleon', 'Fire', None, 405.0, 58, 64, 58, 80, 80, 65, 2, 0)
(6, 'Charizard', 'Fire', 'Flying', 534.0, 78, 84, 78, 109, 100, 85, 3, 0)
(7, 'Squirtle', 'Water', None, 314.0, 44, 48, 65, 50, 43, 64, 1, 0)
(8, 'Wartortle', 'Water', None, 405.0, 59, 63, 80, 65, 58, 80, 2, 0)
(9, 'Blastoise', 'Water', None, 530.0, 79, 83, 100, 85, 78, 105, 3, 0)
(10, 'Caterpie', 'Bug', None, 195.0, 45, 30, 35, 20, 45, 20, 1, 0)
(11, 'Metapod', 'Bug', None, 205.0, 50, 20, 55, 25, 30, 25, 2, 0)
(12, 'Butterfree', 'Bug', 'Flying', 395.0, 60, 45, 50, 90, 70, 80, 3, 0)
(13, 'Weedle', 'Bug', 'Poison', 195.0, 40, 35, 30, 20, 50, 20, 1, 0)
(14, 'Kakuna', 'Bug', 'Poison', 205.0, 45, 25, 50, 25, 35, 25, 2, 0)
(15, 'Beedrill', 'Bug', 'Poison', 395.0, 65, 90, 40, 45, 75, 80, 3, 0)
(16, 'Pidgey', 'Normal', 'Flying', 251.0, 40, 45, 40, 35, 56, 35, 1, 0)
(17, 'Pidgeotto', 'Normal', 'Flying', 349.0, 63, 60, 55, 50, 71, 50, 2, 0)
(18, 'Pidgeot', 'Normal', 'Flying', 479.0, 83, 80, 75, 70, 101, 70, 3, 0)
(19, 'Rattata', 'Normal', None, 253.0, 30, 56, 35, 25, 72, 35, 1, 0)
(20, 'Raticate', 'Normal', None, 413.0, 55, 81, 60, 50, 97, 70, 2, 0)
(21, 'Spearow', 'Normal', 'Flying', 262.0, 40, 60, 30, 31, 70, 31, 1, 0)
(22, 'Fearow', 'Normal', 'Flying', 442.0, 65, 90, 65, 61, 100, 61, 2, 0)
(23, 'Ekans', 'Poison', None, 288.0, 35, 60, 44, 40, 55, 54, 1, 0)
(24, 'Arbok', 'Poison', None, 438.0, 60, 85, 69, 65, 80, 79, 2, 0)
(25, 'Pikachu', 'Electric', None, 320.0, 35, 55, 40, 50, 90, 50, 1, 0)
(26, 'Raichu', 'Electric', None, 485.0, 60, 90, 55, 90, 110, 80, 2, 0)
(27, 'Sandshrew', 'Ground', None, 300.0, 50, 75, 85, 20, 40, 30, 1, 0)
(28, 'Sandslash', 'Ground', None, 450.0, 75, 100, 110, 45, 65, 55, 2, 0)
(29, 'Nidoranï¿½ï¿½ï¿½', 'Poison', None, 275.0, 55, 47, 52, 40, 41, 40, 1, 0)
(30, 'Nidorina', 'Poison', None, 365.0, 70, 62, 67, 55, 56, 55, 2, 0)
(31, 'Nidoqueen', 'Poison', 'Ground', 505.0, 90, 92, 87, 75, 76, 85, 3, 0)
(32, 'Nidoranï¿½ï¿½ï¿½', 'Poison', None, 273.0, 46, 57, 40, 40, 50, 40, 1, 0)
(33, 'Nidorino', 'Poison', None, 365.0, 61, 72, 57, 55, 65, 55, 2, 0)
(34, 'Nidoking', 'Poison', 'Ground', 505.0, 81, 102, 77, 85, 85, 75, 3, 0)
(35, 'Clefairy', 'Fairy', None, 323.0, 70, 45, 48, 60, 35, 65, 1, 0)
(36, 'Clefable', 'Fairy', None, 483.0, 95, 70, 73, 95, 60, 90, 2, 0)
(37, 'Vulpix', 'Fire', None, 299.0, 38, 41, 40, 50, 65, 65, 1, 0)
(38, 'Ninetales', 'Fire', None, 505.0, 73, 76, 75, 81, 100, 100, 2, 0)
(39, 'Jigglypuff', 'Normal', 'Fairy', 270.0, 115, 45, 20, 45, 20, 25, 1, 0)
(40, 'Wigglytuff', 'Normal', 'Fairy', 435.0, 140, 70, 45, 85, 45, 50, 2, 0)
(41, 'Zubat', 'Poison', 'Flying', 245.0, 40, 45, 35, 30, 55, 40, 1, 0)
(42, 'Golbat', 'Poison', 'Flying', 455.0, 75, 80, 70, 65, 90, 75, 2, 0)
(43, 'Oddish', 'Grass', 'Poison', 320.0, 45, 50, 55, 75, 30, 65, 1, 0)
(44, 'Gloom', 'Grass', 'Poison', 395.0, 60, 65, 70, 85, 40, 75, 2, 0)
(45, 'Vileplume', 'Grass', 'Poison', 490.0, 75, 80, 85, 110, 50, 90, 3, 0)
(46, 'Paras', 'Bug', 'Grass', 285.0, 35, 70, 55, 45, 25, 55, 1, 0)
(47, 'Parasect', 'Bug', 'Grass', 405.0, 60, 95, 80, 60, 30, 80, 2, 0)
(48, 'Venonat', 'Bug', 'Poison', 305.0, 60, 55, 50, 40, 45, 55, 1, 0)
(49, 'Venomoth', 'Bug', 'Poison', 450.0, 70, 65, 60, 90, 90, 75, 2, 0)
(50, 'Diglett', 'Ground', None, 265.0, 10, 55, 25, 35, 95, 45, 1, 0)
(51, 'Dugtrio', 'Ground', None, 405.0, 35, 80, 50, 50, 120, 70, 2, 0)
(52, 'Meowth', 'Normal', None, 290.0, 40, 45, 35, 40, 90, 40, 1, 0)
(53, 'Persian', 'Normal', None, 440.0, 65, 70, 60, 65, 115, 65, 2, 0)
(54, 'Psyduck', 'Water', None, 320.0, 50, 52, 48, 65, 55, 50, 1, 0)
(55, 'Golduck', 'Water', None, 500.0, 80, 82, 78, 95, 85, 80, 2, 0)
(56, 'Mankey', 'Fighting', None, 305.0, 40, 80, 35, 35, 70, 45, 1, 0)
(57, 'Primeape', 'Fighting', None, 455.0, 65, 105, 60, 60, 95, 70, 2, 0)
(58, 'Growlithe', 'Fire', None, 350.0, 55, 70, 45, 70, 60, 50, 1, 0)
(59, 'Arcanine', 'Fire', None, 555.0, 90, 110, 80, 100, 95, 80, 2, 0)
(60, 'Poliwag', 'Water', None, 300.0, 40, 50, 40, 40, 90, 40, 1, 0)
(61, 'Poliwhirl', 'Water', None, 385.0, 65, 65, 65, 50, 90, 50, 2, 0)
(62, 'Poliwrath', 'Water', 'Fighting', 510.0, 90, 95, 95, 70, 70, 90, 3, 0)
(63, 'Abra', 'Psychic', None, 310.0, 25, 20, 15, 105, 90, 55, 1, 0)
(64, 'Kadabra', 'Psychic', None, 400.0, 40, 35, 30, 120, 105, 70, 2, 0)
(65, 'Alakazam', 'Psychic', None, 500.0, 55, 50, 45, 135, 120, 95, 3, 0)
(66, 'Machop', 'Fighting', None, 305.0, 70, 80, 50, 35, 35, 35, 1, 0)
(67, 'Machoke', 'Fighting', None, 405.0, 80, 100, 70, 50, 45, 60, 2, 0)
(68, 'Machamp', 'Fighting', None, 505.0, 90, 130, 80, 65, 55, 85, 3, 0)
(69, 'Bellsprout', 'Grass', 'Poison', 300.0, 50, 75, 35, 70, 40, 30, 1, 0)
(70, 'Weepinbell', 'Grass', 'Poison', 390.0, 65, 90, 50, 85, 55, 45, 2, 0)
(71, 'Victreebel', 'Grass', 'Poison', 490.0, 80, 105, 65, 100, 70, 70, 3, 0)
(72, 'Tentacool', 'Water', 'Poison', 335.0, 40, 40, 35, 50, 70, 100, 1, 0)
(73, 'Tentacruel', 'Water', 'Poison', 515.0, 80, 70, 65, 80, 100, 120, 2, 0)
(74, 'Geodude', 'Rock', 'Ground', 300.0, 40, 80, 100, 30, 20, 30, 1, 0)
(75, 'Graveler', 'Rock', 'Ground', 390.0, 55, 95, 115, 45, 35, 45, 2, 0)
(76, 'Golem', 'Rock', 'Ground', 495.0, 80, 120, 130, 55, 45, 65, 3, 0)
(77, 'Ponyta', 'Fire', None, 410.0, 50, 85, 55, 65, 90, 65, 1, 0)
(78, 'Rapidash', 'Fire', None, 500.0, 65, 100, 70, 80, 105, 80, 2, 0)
(79, 'Slowpoke', 'Water', 'Psychic', 315.0, 90, 65, 65, 40, 15, 40, 1, 0)
(80, 'Slowbro', 'Water', 'Psychic', 490.0, 95, 75, 110, 100, 30, 80, 2, 0)
(81, 'Magnemite', 'Electric', 'Steel', 325.0, 25, 35, 70, 95, 45, 55, 1, 0)
(82, 'Magneton', 'Electric', 'Steel', 465.0, 50, 60, 95, 120, 70, 70, 2, 0)
(83, "Farfetch'd", 'Normal', 'Flying', 352.0, 52, 65, 55, 58, 60, 62, 1, 0)
(84, 'Doduo', 'Normal', 'Flying', 310.0, 35, 85, 45, 35, 75, 35, 1, 0)
(85, 'Dodrio', 'Normal', 'Flying', 460.0, 60, 110, 70, 60, 100, 60, 2, 0)
(86, 'Seel', 'Water', None, 325.0, 65, 45, 55, 45, 45, 70, 1, 0)
(87, 'Dewgong', 'Water', 'Ice', 475.0, 90, 70, 80, 70, 70, 95, 2, 0)
(88, 'Grimer', 'Poison', None, 325.0, 80, 80, 50, 40, 25, 50, 1, 0)
(89, 'Muk', 'Poison', None, 500.0, 105, 105, 75, 65, 50, 100, 2, 0)
(90, 'Shellder', 'Water', None, 305.0, 30, 65, 100, 45, 40, 25, 1, 0)
(91, 'Cloyster', 'Water', 'Ice', 525.0, 50, 95, 180, 85, 70, 45, 2, 0)
(92, 'Gastly', 'Ghost', 'Poison', 310.0, 30, 35, 30, 100, 80, 35, 1, 0)
(93, 'Haunter', 'Ghost', 'Poison', 405.0, 45, 50, 45, 115, 95, 55, 2, 0)
(94, 'Gengar', 'Ghost', 'Poison', 500.0, 60, 65, 60, 130, 110, 75, 3, 0)
(95, 'Onix', 'Rock', 'Ground', 385.0, 35, 45, 160, 30, 70, 45, 1, 0)
(96, 'Drowzee', 'Psychic', None, 328.0, 60, 48, 45, 43, 42, 90, 1, 0)
(97, 'Hypno', 'Psychic', None, 483.0, 85, 73, 70, 73, 67, 115, 2, 0)
(98, 'Krabby', 'Water', None, 325.0, 30, 105, 90, 25, 50, 25, 1, 0)
(99, 'Kingler', 'Water', None, 475.0, 55, 130, 115, 50, 75, 50, 2, 0)
(100, 'Voltorb', 'Electric', None, 330.0, 40, 30, 50, 55, 100, 55, 1, 0)
(101, 'Electrode', 'Electric', None, 480.0, 60, 50, 70, 80, 140, 80, 2, 0)
(102, 'Exeggcute', 'Grass', 'Psychic', 325.0, 60, 40, 80, 60, 40, 45, 1, 0)
(103, 'Exeggutor', 'Grass', 'Psychic', 520.0, 95, 95, 85, 125, 55, 65, 2, 0)
(104, 'Cubone', 'Ground', None, 320.0, 50, 50, 95, 40, 35, 50, 1, 0)
(105, 'Marowak', 'Ground', None, 425.0, 60, 80, 110, 50, 45, 80, 2, 0)
(106, 'Hitmonlee', 'Fighting', None, 455.0, 50, 120, 53, 35, 87, 110, 1, 0)
(107, 'Hitmonchan', 'Fighting', None, 455.0, 50, 105, 79, 35, 76, 110, 1, 0)
(108, 'Lickitung', 'Normal', None, 385.0, 90, 55, 75, 60, 30, 75, 1, 0)
(109, 'Koffing', 'Poison', None, 340.0, 40, 65, 95, 60, 35, 45, 1, 0)
(110, 'Weezing', 'Poison', None, 490.0, 65, 90, 120, 85, 60, 70, 2, 0)
(111, 'Rhyhorn', 'Ground', 'Rock', 345.0, 80, 85, 95, 30, 25, 30, 1, 0)
(112, 'Rhydon', 'Ground', 'Rock', 485.0, 105, 130, 120, 45, 40, 45, 2, 0)
(113, 'Chansey', 'Normal', None, 450.0, 250, 5, 5, 35, 50, 105, 1, 0)
(114, 'Tangela', 'Grass', None, 435.0, 65, 55, 115, 100, 60, 40, 1, 0)
(115, 'Kangaskhan', 'Normal', None, 490.0, 105, 95, 80, 40, 90, 80, 1, 0)
(116, 'Horsea', 'Water', None, 295.0, 30, 40, 70, 70, 60, 25, 1, 0)
(117, 'Seadra', 'Water', None, 440.0, 55, 65, 95, 95, 85, 45, 2, 0)
(118, 'Goldeen', 'Water', None, 320.0, 45, 67, 60, 35, 63, 50, 1, 0)
(119, 'Seaking', 'Water', None, 450.0, 80, 92, 65, 65, 68, 80, 2, 0)
(120, 'Staryu', 'Water', None, 340.0, 30, 45, 55, 70, 85, 55, 1, 0)
(121, 'Starmie', 'Water', 'Psychic', 520.0, 60, 75, 85, 100, 115, 85, 2, 0)
(122, 'Mr. Mime', 'Psychic', 'Fairy', 460.0, 40, 45, 65, 100, 90, 120, 1, 0)
(123, 'Scyther', 'Bug', 'Flying', 500.0, 70, 110, 80, 55, 105, 80, 1, 0)
(124, 'Jynx', 'Ice', 'Psychic', 455.0, 65, 50, 35, 115, 95, 95, 1, 0)
(125, 'Electabuzz', 'Electric', None, 490.0, 65, 83, 57, 95, 105, 85, 1, 0)
(126, 'Magmar', 'Fire', None, 495.0, 65, 95, 57, 100, 93, 85, 1, 0)
(127, 'Pinsir', 'Bug', None, 500.0, 65, 125, 100, 55, 85, 70, 1, 0)
(128, 'Tauros', 'Normal', None, 490.0, 75, 100, 95, 40, 110, 70, 1, 0)
(129, 'Magikarp', 'Water', None, 200.0, 20, 10, 55, 15, 80, 20, 1, 0)
(130, 'Gyarados', 'Water', 'Flying', 540.0, 95, 125, 79, 60, 81, 100, 2, 0)
(131, 'Lapras', 'Water', 'Ice', 535.0, 130, 85, 80, 85, 60, 95, 1, 0)
(132, 'Ditto', 'Normal', None, 288.0, 48, 48, 48, 48, 48, 48, 1, 0)
(133, 'Eevee', 'Normal', None, 325.0, 55, 55, 50, 45, 55, 65, 1, 0)
(134, 'Vaporeon', 'Water', None, 525.0, 130, 65, 60, 110, 65, 95, 2, 0)
(135, 'Jolteon', 'Electric', None, 525.0, 65, 65, 60, 110, 130, 95, 2, 0)
(136, 'Flareon', 'Fire', None, 525.0, 65, 130, 60, 95, 65, 110, 2, 0)
(137, 'Porygon', 'Normal', None, 395.0, 65, 60, 70, 85, 40, 75, 1, 0)
(138, 'Omanyte', 'Rock', 'Water', 355.0, 35, 40, 100, 90, 35, 55, 1, 0)
(139, 'Omastar', 'Rock', 'Water', 495.0, 70, 60, 125, 115, 55, 70, 2, 0)
(140, 'Kabuto', 'Rock', 'Water', 355.0, 30, 80, 90, 55, 55, 45, 1, 0)
(141, 'Kabutops', 'Rock', 'Water', 495.0, 60, 115, 105, 65, 80, 70, 2, 0)
(142, 'Aerodactyl', 'Rock', 'Flying', 515.0, 80, 105, 65, 60, 130, 75, 1, 0)
(143, 'Snorlax', 'Normal', None, 540.0, 160, 110, 65, 65, 30, 110, 1, 0)
(144, 'Articuno', 'Ice', 'Flying', 580.0, 90, 85, 100, 95, 85, 125, 1, 1)
(145, 'Zapdos', 'Electric', 'Flying', 580.0, 90, 90, 85, 125, 100, 90, 1, 1)
(146, 'Moltres', 'Fire', 'Flying', 580.0, 90, 100, 90, 125, 90, 85, 1, 1)
(147, 'Dratini', 'Dragon', None, 300.0, 41, 64, 45, 50, 50, 50, 1, 0)
(148, 'Dragonair', 'Dragon', None, 420.0, 61, 84, 65, 70, 70, 70, 2, 0)
(149, 'Dragonite', 'Dragon', 'Flying', 600.0, 91, 134, 95, 100, 80, 100, 3, 0)
(150, 'Mewtwo', 'Psychic', None, 680.0, 106, 110, 90, 154, 130, 90, 1, 1)
(151, 'Mew', 'Psychic', None, 600.0, 100, 100, 100, 100, 100, 100, 1, 0)

#### Pokemon apa yang mempunyai Attack paling tinggi?

In [70]:
result = conn.execute('''
select * 
  from pokemons 
 where attack = (select max(attack) from pokemons)
''')
# select dari table pokemons untuk pokemons yang mempunyai attack di dalam range (max attack)
conn.commit()

for x in result:
    print(x)

(149, 'Dragonite', 'Dragon', 'Flying', 600.0, 91, 134, 95, 100, 80, 100, 3, 0)

In [71]:
# result = conn.execute('''
# select * 
#   from pokemons 
#  where attack in (select max(attack) from pokemons)
# ''')
# select dari table pokemons untuk pokemons yang mempunyai attack di dalam range (max attack)
result = conn.execute('''
select * 
  from pokemons 
 order by attack DESC 
 limit 1
''')
conn.commit()

for x in result:
    print(x)

(149, 'Dragonite', 'Dragon', 'Flying', 600.0, 91, 134, 95, 100, 80, 100, 3, 0)

#### Pokemon tipe 1 apa yang mempunyai highest speed?

In [72]:
result = conn.execute('''
select max(speed) from pokemons
''')
conn.commit()

for x in result:
    print(x)

(125,)

In [73]:
result = conn.execute('''
select type1 from pokemons where speed in (select max(speed) from pokemons)
''')
conn.commit()

for x in result:
    print(x)

('Ice',)

#### Pokemon tipe 1 Dragon punya rata-rata defense berapa?

In [74]:
result = conn.execute('''
select avg(defense) from pokemons where type1 = "Dragon"
''')
conn.commit()

for x in result:
    print(x)

(68.33333333333333,)

#### Dari tipe Water or Fire Pokemon, mana yang lebih tinggi rata2 attack speednya?

In [75]:
result = conn.execute('''
select type1, avg(sp_atk) as avg_sp_atk
  from pokemons 
 where type1 in ('Water', 'Fire') 
 group by type1
''')
conn.commit()

for x in result:
    print(x)

('Fire', 84.58333333333333)
('Water', 64.82142857142857)

In [ ]:
result = conn.execute('''
SELECT max(avg(sp_atk))
    FROM pokemons
    WHERE type1 = 'Water' OR type1 = 'Fire'
    GROUP BY type1
''')
conn.commit()

for x in result:
    print(x)

#### Type Pokemon apa yang lebih banyak terklasifikasi kedalam 'Legendary'?

In [79]:
data_pokemon.loc[data_pokemon['Legendary'] == True].groupby(by='Type 1').nunique()['Name']
# cari di df, data yang mempunyai 'Legendary' dengan nilai sama dengan True. 
# lalu group-in, dan untuk masing2 group, cari ada berapa jumlah unique name disana.
# lalu di slice hanya menampilkan jumlah unique nama.

Type 1
Electric    1
Fire        1
Ice         1
Psychic     1
Name: Name, dtype: int64

In [80]:
#multiple filter
data_pokemon_legendary = data_pokemon.loc[data_pokemon['Legendary'] == True]

In [84]:
data_pokemon_legendary

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
143,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
144,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
145,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
149,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True

In [83]:
data_pokemon_legendary_stage_2 = data_pokemon.loc[data_pokemon['Stage'] == 2]

In [85]:
data_pokemon_legendary_stage_2

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,2,False
4,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,2,False
7,Wartortle,Water,NaN,405,59,63,80,65,80,58,2,False
10,Metapod,Bug,NaN,205,50,20,55,25,25,30,2,False
13,Kakuna,Bug,Poison,205,45,25,50,25,25,35,2,False
16,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,2,False
19,Raticate,Normal,NaN,413,55,81,60,50,70,97,2,False
21,Fearow,Normal,Flying,442,65,90,65,61,61,100,2,False
23,Arbok,Poison,NaN,438,60,85,69,65,79,80,2,False
25,Raichu,Electric,NaN,485,60,90,55,90,80,110,2,False
27,Sandslash,Ground,NaN,450,75,100,110,45,55,65,2,False
29,Nidorina,Poison,NaN,365,70,62,67,55,55,56,2,False
32,Nidorino,Poison,NaN,365,61,72,57,55,55,65,2,False
35,Clefable,Fairy,NaN,483,95,70,73,95,90,60,2,False
37,Ninetales,Fire,NaN,505,73,76,75,81,100,100,2,False
39,Wigglytuff,Normal,Fairy,435,140,70,45,85,50,45,2,False
41,Golbat,Poison,Flying,455,75,80,70,65,75,90,2,False
43,Gloom,Grass,Poison,395,60,65,70,85,75,40,2,False
46,Parasect,Bug,Grass,405,60,95,80,60,80,30,2,False
48,Venomoth,Bug,Poison,450,70,65,60,90,75,90,2,False
50,Dugtrio,Ground,NaN,405,35,80,50,50,70,120,2,False
52,Persian,Normal,NaN,440,65,70,60,65,65,115,2,False
54,Golduck,Water,NaN,500,80,82,78,95,80,85,2,False
56,Primeape,Fighting,NaN,455,65,105,60,60,70,95,2,False
58,Arcanine,Fire,NaN,555,90,110,80,100,80,95,2,False
60,Poliwhirl,Water,NaN,385,65,65,65,50,50,90,2,False
63,Kadabra,Psychic,NaN,400,40,35,30,120,70,105,2,False
66,Machoke,Fighting,NaN,405,80,100,70,50,60,45,2,False
69,Weepinbell,Grass,Poison,390,65,90,50,85,45,55,2,False
72,Tentacruel,Water,Poison,515,80,70,65,80,120,100,2,False
74,Graveler,Rock,Ground,390,55,95,115,45,45,35,2,False
77,Rapidash,Fire,NaN,500,65,100,70,80,80,105,2,False
79,Slowbro,Water,Psychic,490,95,75,110,100,80,30,2,False
81,Magneton,Electric,Steel,465,50,60,95,120,70,70,2,False
84,Dodrio,Normal,Flying,460,60,110,70,60,60,100,2,False
86,Dewgong,Water,Ice,475,90,70,80,70,95,70,2,False
88,Muk,Poison,NaN,500,105,105,75,65,100,50,2,False
90,Cloyster,Water,Ice,525,50,95,180,85,45,70,2,False
92,Haunter,Ghost,Poison,405,45,50,45,115,55,95,2,False
96,Hypno,Psychic,NaN,483,85,73,70,73,115,67,2,False
98,Kingler,Water,NaN,475,55,130,115,50,50,75,2,False
100,Electrode,Electric,NaN,480,60,50,70,80,80,140,2,False
102,Exeggutor,Grass,Psychic,520,95,95,85,125,65,55,2,False
104,Marowak,Ground,NaN,425,60,80,110,50,80,45,2,False
109,Weezing,Poison,NaN,490,65,90,120,85,70,60,2,False
111,Rhydon,Ground,Rock,485,105,130,120,45,45,40,2,False
116,Seadra,Water,NaN,440,55,65,95,95,45,85,2,False
118,Seaking,Water,NaN,450,80,92,65,65,80,68,2,False
120,Starmie,Water,Psychic,520,60,75,85,100,85,115,2,False
129,Gyarados,Water,Flying,540,95,125,79,60,100,81,2,False
133,Vaporeon,Water,NaN,525,130,65,60,110,95,65,2,False
134,Jolteon,Electric,NaN,525,65,65,60,110,95,130,2,False
135,Flareon,Fire,NaN,525,65,130,60,95,110,65,2,False
138,Omastar,Rock,Water,495,70,60,125,115,70,55,2,False
140,Kabutops,Rock,Water,495,60,115,105,65,70,80,2,False
147,Dragonair,Dragon,NaN,420,61,84,65,70,70,70,2,False

In [86]:
print(data_pokemon_legendary.shape)
print(data_pokemon_legendary_stage_2.shape)

(4, 12)
(56, 12)

In [87]:
data_pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,2,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,3,False
3,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...
146,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False
147,Dragonair,Dragon,NaN,420,61,84,65,70,70,70,2,False
148,Dragonite,Dragon,Flying,600,91,134,95,100,100,80,3,False
149,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
150,Mew,Psychic,NaN,600,100,100,100,100,100,100,1,False