In [3]:
import pandas as pd
import sqlite3

# Baca csv
df = pd.read_csv('/Users/renyoktavianti/miniconda3/envs/DSC-Repository/[GOLD] Chapter 4/dummy_alay.csv')
df

     literally pada dasarnya
0     which is       di mana
1       hectic         sibuk
2  t3tapjokowi  tetap jokowi
3           3x     tiga kali
4      anxiety         cemas

In [4]:
df

     literally pada dasarnya
0     which is       di mana
1       hectic         sibuk
2  t3tapjokowi  tetap jokowi
3           3x     tiga kali
4      anxiety         cemas

In [5]:
# buat koneksi
import sqlite3
conn = sqlite3.connect('database/csv_to_sql.db')

# save dataframe ke db
df.to_sql('alay', conn, if_exists='replace', index=False)

conn.close()