# Modul 2 : Pandas for Data Cleansing

in this module, we will work with pandas to do data Analysis and data Cleansing

---

to install pandas (if not yet installed)
```python
pip install pandas
```
Then usuallly when we import pandas, we rename it to **pd** to make is shorter

```python
import pandas as pd
```

After importing pandas, now we are ready to work with DataFrame

## Create DataFrame from dictionary

```python
# Create dictionary of students
students = {
    'first_name':['Muhammad', 'Anton', 'Budi', 'Tantri'],
    'last_name':['Cecep', 'Doraemon', 'Bohim', 'Nunung'],
    'daily_test':[90,0,75,40],
    'semester_test':[60,68,82,90]
}
# To Create dataframe from dictionary, we use
data_students = pd.DataFrame(students)
```

In [ ]:
# Import pandas here
import pandas as pd

In [ ]:
students = {
    'first_name':['Muhammad', 'Anton', 'Budi', 'Tantri'],
    'last_name':['Cecep', 'Doraemon', 'Bohim', 'Nunung'],
    'daily_test':[90,0,75,40],
    'semester_test':[60,68,82,90]
}

In [ ]:
data_students = pd.DataFrame(students)

In [ ]:
# check data_students data type here
type(data_students)

pandas.core.frame.DataFrame

## Add new rows to datafame

Same with list, to add new rows, we use `.append()` method

```python
df.append({
    'first_name','Mamang', 
    'last_name':'Prasetyo', 
    'daily_test':80
    'semester_test':95
    })

In [ ]:
students = pd.DataFrame({
    'first_name':['Muhammad', 'Anton', 'Budi', 'Tantri'],
    'last_name':['Cecep', 'Doraemon', 'Bohim', 'Nunung'],
    'daily_test':[90,0,75,40],
    'semester_test':[60,68,82,90]
})
students

  first_name last_name  daily_test  semester_test
0   Muhammad     Cecep          90             60
1      Anton  Doraemon           0             68
2       Budi     Bohim          75             82
3     Tantri    Nunung          40             90

In [ ]:
df = students.append({
    'first_name':'Mamang', 
    'last_name':'Prasetyo', 
    'daily_test':80,
    'semester_test':95
    },ignore_index=True)
df

  first_name last_name  daily_test  semester_test
0   Muhammad     Cecep          90             60
1      Anton  Doraemon           0             68
2       Budi     Bohim          75             82
3     Tantri    Nunung          40             90
4     Mamang  Prasetyo          80             95

## Check DataFrame Characteristics

```python
# To check dataframe size (rows, columns)
df.shape

# Only rows
len(df)

# Check DataType each column
df.info()

# Get column names
df.columns
```

In [ ]:
df = students
students.shape

(4, 4)

In [ ]:
len(df)

4

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   first_name     4 non-null      object
 1   last_name      4 non-null      object
 2   daily_test     4 non-null      int64
 3   semester_test  4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes

In [ ]:
df.columns

Index(['first_name', 'last_name', 'daily_test', 'semester_test'], dtype='object')

In [ ]:
df.values

array([['Muhammad', 'Cecep', 90, 60],
       ['Anton', 'Doraemon', 0, 68],
       ['Budi', 'Bohim', 75, 82],
       ['Tantri', 'Nunung', 40, 90]], dtype=object)

## Indexing Dataframe
### Selecting Columns
From the dataframe, to select only one column, you can use `dataframe['column_name']`

**Exercise :** 

From dataframe **students** select only column _first_name_ ,save it as `variable` **student_first_name**

**What is Datatype of _student_first_name_ ?**

**What is the difference of `dataframe['column_name']` and `dataframe[['column_name']]` ?**

**What if we want to select multiple column ?**

**Exercise :**

From dataframe, select column _last_name_ and _semester_test_ !

### Selecting Rows
To select rows from dataframe, we can use list indexing `dataframe[row_number:row_number_after]`

Using this scenario, we can also select multiple row by using `dataframe[start_row:end_row]`

_Example :_
```
# Select first 2 row
dataframe[:2]

# Select first 3 row
dataframe[-3:]
```
**Exercise :**

From dataframe **class_score** select row number 2 !

In [ ]:
df[:2]

  first_name last_name  daily_test  semester_test
0   Muhammad     Cecep          90             60
1      Anton  Doraemon           0             68

In [ ]:
df.head(2)

  first_name last_name  daily_test  semester_test
0   Muhammad     Cecep          90             60
1      Anton  Doraemon           0             68

In [ ]:
df[-3:]

  first_name last_name  daily_test  semester_test
1      Anton  Doraemon           0             68
2       Budi     Bohim          75             82
3     Tantri    Nunung          40             90

### Getting value from Column and row
From previous lesson in basic python, we already learn multiple indices. For example in nested list below :
```
my_list = [4, 3, ['a', 'c']]
```
Extracting value **'a'** from `my_list` above we use `my_list[2][0]`.

Similar to Dataframe, we can also slicing dataframe using same method.

**Note :**

Remember, Dataframe formed from **dictionary**, to get value from _dictionary_ we use **`'key'`** value instead of _integer index value_.
Same with selecting column.

In this case we use :
```
dataframe['column_name'][row_number]
```

In [ ]:
my_list = [4, 3, ['a', 'c']]

my_list[2][0]

'a'

**Exercise :**

From dataframe, Get `daily_test` of `Cecep` !

In [ ]:
df['daily_test'][0]

90

## Filter Condition
### Find Value
To Filter using condition we can use `dataframe['column'] conditional_clause value`

Conditional clause can be :
```
==
>
>=
<
<=
!=
```
Let's say from dataframe **class_score**, we want to know **How many student achieve `score` equal or More than 80**, we can use `dataframe['score'] >= 80`

**Practice here :**

In [ ]:
df

  first_name last_name  daily_test  semester_test
0   Muhammad     Cecep          90             60
1      Anton  Doraemon           0             68
2       Budi     Bohim          75             82
3     Tantri    Nunung          40             90
4     Mamang  Prasetyo          80             95

In [ ]:
(df['daily_test'] >= 80).sum()

2

In [ ]:
(df['semester_test'] >= 80).sum()

3

### Multiple Condition
**Exercise :**

From dataframe **class_score**, we want to know **Student that achieve `daily_test` less than 90 BUT, having semester_test more than 80**

In [ ]:
df

  first_name last_name  daily_test  semester_test
0   Muhammad     Cecep          90             60
1      Anton  Doraemon           0             68
2       Budi     Bohim          75             82
3     Tantri    Nunung          40             90
4     Mamang  Prasetyo          80             95

In [ ]:
df['daily_test'] < 90

0    False
1     True
2     True
3     True
4     True
Name: daily_test, dtype: bool

In [ ]:
df['semester_test'] > 80

0    False
1    False
2     True
3     True
4     True
Name: semester_test, dtype: bool

In [ ]:
class_score = df[(df['daily_test'] < 90) & (df['semester_test'] > 80)]
class_score

  first_name last_name  daily_test  semester_test
2       Budi     Bohim          75             82
3     Tantri    Nunung          40             90
4     Mamang  Prasetyo          80             95

#### Exercise
**Filter only Anton and Budi**

_hint :_ using (filter 1) | (filter 2)

In [ ]:
filtered_students1 = df[(df['first_name'] == "Anton") | (df['first_name'] == "Budi")]
filtered_students1

  first_name last_name  daily_test  semester_test
1      Anton  Doraemon           0             68
2       Budi     Bohim          75             82

#### Using is in list

**Filter only Anton, Tantri and Budi**

_hint :_ create list filter, then data[column].isin(filter)

In [ ]:
filter_by_name =['Anton', 'Tantri', 'Budi']
filtered_students2 = class_score[class_score['first_name'].isin(filter_by_name)]

In [ ]:
filtered_students2

  first_name last_name  daily_test  semester_test
2       Budi     Bohim          75             82
3     Tantri    Nunung          40             90

## Add new column to dataframe

using `df['new_column'] = [new_data1, new_data2, new_data3]`

Add new column of `attendance` = all 100 except Cecep which only 70, and Mamang only 65

In [ ]:
df

  first_name last_name  daily_test  semester_test
0   Muhammad     Cecep          90             60
1      Anton  Doraemon           0             68
2       Budi     Bohim          75             82
3     Tantri    Nunung          40             90
4     Mamang  Prasetyo          80             95

In [ ]:
df['attendance'] = [70, 100, 100, 100, 65]
df

  first_name last_name  daily_test  semester_test  attendance
0   Muhammad     Cecep          90             60          70
1      Anton  Doraemon           0             68         100
2       Budi     Bohim          75             82         100
3     Tantri    Nunung          40             90         100
4     Mamang  Prasetyo          80             95          65

## Sorting Data
Gunakan `.sort_values()`

sample:

```
df.sort_values('name', ascending=False)
```

In [ ]:
df.sort_values('daily_test', ascending=False)

  first_name last_name  daily_test  semester_test  attendance
0   Muhammad     Cecep          90             60          70
4     Mamang  Prasetyo          80             95          65
2       Budi     Bohim          75             82         100
3     Tantri    Nunung          40             90         100
1      Anton  Doraemon           0             68         100

In [ ]:
df.sort_values('daily_test', ascending=True)

  first_name last_name  daily_test  semester_test  attendance
1      Anton  Doraemon           0             68         100
3     Tantri    Nunung          40             90         100
2       Budi     Bohim          75             82         100
4     Mamang  Prasetyo          80             95          65
0   Muhammad     Cecep          90             60          70

### Exercise
create new variable dataframe `remedial` which only have student which semester_test below 85, sort based on daily test lower to higher

In [ ]:
df

  first_name last_name  daily_test  semester_test  attendance
0   Muhammad     Cecep          90             60          70
1      Anton  Doraemon           0             68         100
2       Budi     Bohim          75             82         100
3     Tantri    Nunung          40             90         100
4     Mamang  Prasetyo          80             95          65

In [ ]:
remedial = df[df["semester_test"] < 85]
remedial

  first_name last_name  daily_test  semester_test  attendance
0   Muhammad     Cecep          90             60          70
1      Anton  Doraemon           0             68         100
2       Budi     Bohim          75             82         100

In [ ]:
daily_test = df.sort_values('daily_test' , ascending=True)
daily_test

  first_name last_name  daily_test  semester_test  attendance
1      Anton  Doraemon           0             68         100
3     Tantri    Nunung          40             90         100
2       Budi     Bohim          75             82         100
4     Mamang  Prasetyo          80             95          65
0   Muhammad     Cecep          90             60          70

In [ ]:
remedial_2 = df[(df['semester_test'] < 85) & [[df.sort_values('daily_test' , ascending=True)]]]
remedial_2

  first_name last_name  daily_test  semester_test  attendance
0   Muhammad     Cecep          90             60          70
1      Anton  Doraemon           0             68         100
2       Budi     Bohim          75             82         100

In [ ]:
remedial = df[df['semester_test'] < 85][['first_name', 'daily_test', 'semester_test']]

remedial= remedial.sort_values('daily_test')
remedial

  first_name  daily_test  semester_test
1      Anton           0             68
2       Budi          75             82
0   Muhammad          90             60


**Save filtered Data above to csv**

using function `.to_csv()` with index=False

```python
df.to_csv('namafile_export.csv', index=False)
```

In [ ]:
# save data ke json
remedial.to_json('data_remedial.json')

In [ ]:
# save data ke csv dengan index False
remedial.to_csv('data_remedial.csv', index=False)

Compare with `.to_csv()` without index = False

In [ ]:
# ini pakai penomoran otomatis, bisa dibuka perbedaan hasilnya
remedial.to_csv('data_remedial_without_index.csv')

Save to excel format with `.to_excel('namafile.xlsx')`

In [ ]:
remedial.to_excel('data_remedial.xlsx')

## Load data from files

to read file from csv
```
dataframe = pd.read_csv('path/to/file.csv')
```

---

download `data_pokemon.csv` from classroom,

upload the files to colab, or place in the same folder (if jupyter)


**To do:**

read **pokemon.csv**

In [47]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [48]:
# Nan = numpy #library python untuk matematika
# Null = pandas #library python untuk data series/tabular


df = pd.read_csv('/content/drive/MyDrive/[GOLD] Chapter 3/data_pokemon.csv')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
0,1,Bulbasaur,Grass,Poison,318.0,45,49,49,65,65.0,45,1,False
1,2,Ivysaur,Grass,Poison,405.0,60,62,63,80,80.0,60,2,False
2,3,Venusaur,Grass,Poison,525.0,80,82,83,100,100.0,80,3,False
3,4,Charmander,Fire,NaN,309.0,39,52,43,60,50.0,65,1,False
4,5,Charmeleon,Fire,NaN,405.0,58,64,58,80,65.0,80,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,Dratini,Dragon,NaN,300.0,41,64,45,50,50.0,50,1,False
147,148,Dragonair,Dragon,NaN,420.0,61,84,65,70,70.0,70,2,False
148,149,Dragonite,Dragon,Flying,NaN,91,134,95,100,100.0,80,3,False
149,150,Mewtwo,Psychic,NaN,680.0,106,110,90,154,90.0,130,1,True
150,151,Mew,Psychic,NaN,NaN,100,100,100,100,100.0,100,1,False

## Show Part of the data

Showing full of the data may causing the screen is not good looking and heavier, since the data may having very long row.

To show only begining of data, you can use `.head()` and `.tail()` for only showing last row of data

In [49]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
0,1,Bulbasaur,Grass,Poison,318.0,45,49,49,65,65.0,45,1,False
1,2,Ivysaur,Grass,Poison,405.0,60,62,63,80,80.0,60,2,False
2,3,Venusaur,Grass,Poison,525.0,80,82,83,100,100.0,80,3,False
3,4,Charmander,Fire,NaN,309.0,39,52,43,60,50.0,65,1,False
4,5,Charmeleon,Fire,NaN,405.0,58,64,58,80,65.0,80,2,False

In [50]:
df.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
146,147,Dratini,Dragon,NaN,300.0,41,64,45,50,50.0,50,1,False
147,148,Dragonair,Dragon,NaN,420.0,61,84,65,70,70.0,70,2,False
148,149,Dragonite,Dragon,Flying,NaN,91,134,95,100,100.0,80,3,False
149,150,Mewtwo,Psychic,NaN,680.0,106,110,90,154,90.0,130,1,True
150,151,Mew,Psychic,NaN,NaN,100,100,100,100,100.0,100,1,False

Did you notice, how many rows are showed using those function ?
How if you want to see some certain first rows of the data ?

**Practice :**
*Show first 4 value of the data !*

In [51]:
df.head(4) #memanggil 4 tabel teratas sesuai perintah python

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
0,1,Bulbasaur,Grass,Poison,318.0,45,49,49,65,65.0,45,1,False
1,2,Ivysaur,Grass,Poison,405.0,60,62,63,80,80.0,60,2,False
2,3,Venusaur,Grass,Poison,525.0,80,82,83,100,100.0,80,3,False
3,4,Charmander,Fire,NaN,309.0,39,52,43,60,50.0,65,1,False

In [52]:
df[:4] #manual mensortir 4 tabel teratas

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
0,1,Bulbasaur,Grass,Poison,318.0,45,49,49,65,65.0,45,1,False
1,2,Ivysaur,Grass,Poison,405.0,60,62,63,80,80.0,60,2,False
2,3,Venusaur,Grass,Poison,525.0,80,82,83,100,100.0,80,3,False
3,4,Charmander,Fire,NaN,309.0,39,52,43,60,50.0,65,1,False

Cek jumlah data dengan Print kalimat berikut:
```python
"Data kita memiliki : {} baris dan {} kolom"
```

In [53]:
df.shape

(151, 13)

In [54]:
#cara 1
baris, kolom = df.shape
print("Data kita memiliki : {} baris dan {} kolom".format(baris, kolom))

Data kita memiliki : 151 baris dan 13 kolom

In [55]:
#cara 2
f"Data kita memiliki : {baris} baris dan {kolom} kolom"

'Data kita memiliki : 151 baris dan 13 kolom'

**To Do**
Inspect Data type of pokemon dataframe

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   #          151 non-null    int64
 1   Name       151 non-null    object
 2   Type 1     151 non-null    object
 3   Type 2     67 non-null     object
 4   Total      146 non-null    float64
 5   HP         151 non-null    int64
 6   Attack     151 non-null    int64
 7   Defense    151 non-null    int64
 8   Sp. Atk    151 non-null    int64
 9   Sp. Def    143 non-null    float64
 10  Speed      151 non-null    int64
 11  Stage      151 non-null    int64
 12  Legendary  151 non-null    bool
dtypes: bool(1), float64(2), int64(7), object(3)
memory usage: 14.4+ KB

### Unique Value Inspection

to get unique values from column, we use `df['column'].unique()`

and to get number of unique value from column, we use `df['column'].nunique()`

**To Do:** 

1. Show unique value of Pokemon Type 1
2. How many unique value Pokemon name

In [ ]:
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon'], dtype=object)

In [ ]:
len(df['Type 1'])

151

In [ ]:
df['Type 1'].nunique()

15

## Statistical Operation on DataFrame

### Get Descriptive Statistics of dataframe

```python
# To get Statistics from DataFrame 
df.describe()
```

In [ ]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage
count,151.000000,146.000000,151.000000,151.000000,151.000000,151.000000,143.000000,151.000000,151.000000
mean,76.000000,403.760274,64.211921,72.549669,68.225166,67.139073,65.762238,68.933775,1.582781
std,43.734045,98.263496,28.590117,26.596162,26.916704,28.534199,24.578119,26.746880,0.676832
min,1.000000,195.000000,10.000000,5.000000,5.000000,15.000000,20.000000,15.000000,1.000000
25%,38.500000,320.000000,45.000000,51.000000,50.000000,45.000000,45.000000,46.500000,1.000000
50%,76.000000,405.000000,60.000000,70.000000,65.000000,65.000000,65.000000,70.000000,1.000000
75%,113.500000,490.000000,80.000000,90.000000,84.000000,87.500000,80.000000,90.000000,2.000000
max,151.000000,680.000000,250.000000,134.000000,180.000000,154.000000,125.000000,140.000000,3.000000

In [ ]:
#transpose : baris --> kolom, kolom --> baris

df.describe().T

         count        mean        std    min    25%    50%    75%    max
#        151.0   76.000000  43.734045    1.0   38.5   76.0  113.5  151.0
Total    146.0  403.760274  98.263496  195.0  320.0  405.0  490.0  680.0
HP       151.0   64.211921  28.590117   10.0   45.0   60.0   80.0  250.0
Attack   151.0   72.549669  26.596162    5.0   51.0   70.0   90.0  134.0
Defense  151.0   68.225166  26.916704    5.0   50.0   65.0   84.0  180.0
Sp. Atk  151.0   67.139073  28.534199   15.0   45.0   65.0   87.5  154.0
Sp. Def  143.0   65.762238  24.578119   20.0   45.0   65.0   80.0  125.0
Speed    151.0   68.933775  26.746880   15.0   46.5   70.0   90.0  140.0
Stage    151.0    1.582781   0.676832    1.0    1.0    1.0    2.0    3.0

### Calculation on dataframe

```python
# to get sum total
df['column'].sum()

# to get maximum from column
df['column'].max()

# to get minimum from column
df['column'].min()

# to get average from column
df['column'].mean()
```

In [56]:
df['Attack'].sum()

10955

In [57]:
df['Attack'].max()

134

In [58]:
df['Attack'].min()

5

In [59]:
df['Attack'].mean()

72.54966887417218


**Answer this question:**

1. What is Pokemon name that has Highest Attack
2. What Pokemon Type (Type 1) that has highest speed
3. How many Average Defense of pokemon which has type 1 = Dragon
4. How many Legendary Pokemon that can fly ? *(hint, type 2)*
5. Which one of pokemon type 1 that has highest average Attack Speed (Sp. Atk) ? Water of Fire pokemon ?

In [ ]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
0,1,Bulbasaur,Grass,Poison,318.0,45,49,49,65,65.0,45,1,False
1,2,Ivysaur,Grass,Poison,405.0,60,62,63,80,80.0,60,2,False
2,3,Venusaur,Grass,Poison,525.0,80,82,83,100,100.0,80,3,False
3,4,Charmander,Fire,NaN,309.0,39,52,43,60,50.0,65,1,False
4,5,Charmeleon,Fire,NaN,405.0,58,64,58,80,65.0,80,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,Dratini,Dragon,NaN,300.0,41,64,45,50,50.0,50,1,False
147,148,Dragonair,Dragon,NaN,420.0,61,84,65,70,70.0,70,2,False
148,149,Dragonite,Dragon,Flying,NaN,91,134,95,100,100.0,80,3,False
149,150,Mewtwo,Psychic,NaN,680.0,106,110,90,154,90.0,130,1,True
150,151,Mew,Psychic,NaN,NaN,100,100,100,100,100.0,100,1,False

In [ ]:
df['Attack'].max()

134

1. What is Pokemon name that has Highest Attack

In [ ]:
df.loc[df['Attack'] == df['Attack'].max()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
148,149,Dragonite,Dragon,Flying,NaN,91,134,95,100,100.0,80,3,False

2. What Pokemon Type (Type 1) that has highest speed

In [60]:
df.loc[df['Speed'] == df['Speed'].max()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
100,101,Electrode,Electric,NaN,480.0,60,50,70,80,80.0,140,2,False

3. How many Average Defense of pokemon which has type 1 = Dragon

In [66]:
df_dragon = df[df['Type 1'] == 'Dragon']
df_dragon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
146,147,Dratini,Dragon,NaN,300.0,41,64,45,50,50.0,50,1,False
147,148,Dragonair,Dragon,NaN,420.0,61,84,65,70,70.0,70,2,False
148,149,Dragonite,Dragon,Flying,NaN,91,134,95,100,100.0,80,3,False

In [67]:
average = df_dragon['Defense'].mean()
average

68.33333333333333

4. How many Legendary Pokemon that can fly ? (hint, type 2)

In [69]:
#Cek Pokemon Legendary = True
df_legendary = df[df["Legendary"] == True]
print("Jumlah pokemon legendary", len(df_legendary))

Jumlah pokemon legendary 4

In [70]:
#Cek Pokemon Flying = True
pokemon_flying = df[df["Type 2"] == "Flying"]
print("Jumlah pokemon type Flying", len(pokemon_flying))

Jumlah pokemon type Flying 19

In [72]:
#Menghitung pokemon legendary yang bisa terbang
pokemon_legendary_flying = df[(df["Legendary"] == True) & (df["Type 2"] == "Flying")]
pokemon_legendary_flying
print("Jumlah pokemon legendary type flying", len(pokemon_legendary_flying))

Jumlah pokemon legendary type flying 3

In [73]:
pd.DataFrame(pokemon_legendary_flying)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
143,144,Articuno,Ice,Flying,580.0,90,85,100,95,125.0,85,1,True
144,145,Zapdos,Electric,Flying,580.0,90,90,85,125,90.0,100,1,True
145,146,Moltres,Fire,Flying,580.0,90,100,90,125,85.0,90,1,True

## Missing Value on the data

```python
# To check missing values/ null value from data
df.isna().sum()

# or same with
df.isnull().sum()
```

**To Do:**

What column from pokemon has missing data ?, total how many data that was missing ?

In [ ]:
df.isna().sum()

#             0
Name          0
Type 1        0
Type 2       84
Total         5
HP            0
Attack        0
Defense       0
Sp. Atk       0
Sp. Def       8
Speed         0
Stage         0
Legendary     0
dtype: int64

In [ ]:
df.isnull().sum()

#             0
Name          0
Type 1        0
Type 2       84
Total         5
HP            0
Attack        0
Defense       0
Sp. Atk       0
Sp. Def       8
Speed         0
Stage         0
Legendary     0
dtype: int64

## Cleaning Missing Value from the data

### Dropping missing values
```python
# Use dropna to drop the missing values
df.dropna()
```
### Filling Missing Data with constant values
```python
# Use fillna to fill the missing values
fill_value = 0
df.fillna(fill_value)
```

### Filling with method
Fillna function has built in method to fill the missing value, like `{'backfill', 'bfill', 'pad', 'ffill'}`

**To Do:** check `fillna()` help function and discover what are thos method function

In [ ]:
df.dropna()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
0,1,Bulbasaur,Grass,Poison,318.0,45,49,49,65,65.0,45,1,False
1,2,Ivysaur,Grass,Poison,405.0,60,62,63,80,80.0,60,2,False
2,3,Venusaur,Grass,Poison,525.0,80,82,83,100,100.0,80,3,False
5,6,Charizard,Fire,Flying,534.0,78,84,78,109,85.0,100,3,False
11,12,Butterfree,Bug,Flying,395.0,60,45,50,90,80.0,70,3,False
12,13,Weedle,Bug,Poison,195.0,40,35,30,20,20.0,50,1,False
13,14,Kakuna,Bug,Poison,205.0,45,25,50,25,25.0,35,2,False
14,15,Beedrill,Bug,Poison,395.0,65,90,40,45,80.0,75,3,False
15,16,Pidgey,Normal,Flying,251.0,40,45,40,35,35.0,56,1,False
20,21,Spearow,Normal,Flying,262.0,40,60,30,31,31.0,70,1,False
21,22,Fearow,Normal,Flying,442.0,65,90,65,61,61.0,100,2,False
30,31,Nidoqueen,Poison,Ground,505.0,90,92,87,75,85.0,76,3,False
33,34,Nidoking,Poison,Ground,505.0,81,102,77,85,75.0,85,3,False
38,39,Jigglypuff,Normal,Fairy,270.0,115,45,20,45,25.0,20,1,False
39,40,Wigglytuff,Normal,Fairy,435.0,140,70,45,85,50.0,45,2,False
40,41,Zubat,Poison,Flying,245.0,40,45,35,30,40.0,55,1,False
41,42,Golbat,Poison,Flying,455.0,75,80,70,65,75.0,90,2,False
42,43,Oddish,Grass,Poison,320.0,45,50,55,75,65.0,30,1,False
43,44,Gloom,Grass,Poison,395.0,60,65,70,85,75.0,40,2,False
44,45,Vileplume,Grass,Poison,490.0,75,80,85,110,90.0,50,3,False
45,46,Paras,Bug,Grass,285.0,35,70,55,45,55.0,25,1,False
46,47,Parasect,Bug,Grass,405.0,60,95,80,60,80.0,30,2,False
47,48,Venonat,Bug,Poison,305.0,60,55,50,40,55.0,45,1,False
48,49,Venomoth,Bug,Poison,450.0,70,65,60,90,75.0,90,2,False
61,62,Poliwrath,Water,Fighting,510.0,90,95,95,70,90.0,70,3,False
68,69,Bellsprout,Grass,Poison,300.0,50,75,35,70,30.0,40,1,False
69,70,Weepinbell,Grass,Poison,390.0,65,90,50,85,45.0,55,2,False
71,72,Tentacool,Water,Poison,335.0,40,40,35,50,100.0,70,1,False
72,73,Tentacruel,Water,Poison,515.0,80,70,65,80,120.0,100,2,False
73,74,Geodude,Rock,Ground,300.0,40,80,100,30,30.0,20,1,False
74,75,Graveler,Rock,Ground,390.0,55,95,115,45,45.0,35,2,False
75,76,Golem,Rock,Ground,495.0,80,120,130,55,65.0,45,3,False
78,79,Slowpoke,Water,Psychic,315.0,90,65,65,40,40.0,15,1,False
79,80,Slowbro,Water,Psychic,490.0,95,75,110,100,80.0,30,2,False
80,81,Magnemite,Electric,Steel,325.0,25,35,70,95,55.0,45,1,False
81,82,Magneton,Electric,Steel,465.0,50,60,95,120,70.0,70,2,False
82,83,Farfetch'd,Normal,Flying,352.0,52,65,55,58,62.0,60,1,False
83,84,Doduo,Normal,Flying,310.0,35,85,45,35,35.0,75,1,False
84,85,Dodrio,Normal,Flying,460.0,60,110,70,60,60.0,100,2,False
86,87,Dewgong,Water,Ice,475.0,90,70,80,70,95.0,70,2,False
90,91,Cloyster,Water,Ice,525.0,50,95,180,85,45.0,70,2,False
91,92,Gastly,Ghost,Poison,310.0,30,35,30,100,35.0,80,1,False
92,93,Haunter,Ghost,Poison,405.0,45,50,45,115,55.0,95,2,False
93,94,Gengar,Ghost,Poison,500.0,60,65,60,130,75.0,110,3,False
94,95,Onix,Rock,Ground,385.0,35,45,160,30,45.0,70,1,False
101,102,Exeggcute,Grass,Psychic,325.0,60,40,80,60,45.0,40,1,False
102,103,Exeggutor,Grass,Psychic,520.0,95,95,85,125,65.0,55,2,False
110,111,Rhyhorn,Ground,Rock,345.0,80,85,95,30,30.0,25,1,False
111,112,Rhydon,Ground,Rock,485.0,105,130,120,45,45.0,40,2,False
121,122,Mr. Mime,Psychic,Fairy,460.0,40,45,65,100,120.0,90,1,False
122,123,Scyther,Bug,Flying,500.0,70,110,80,55,80.0,105,1,False
123,124,Jynx,Ice,Psychic,455.0,65,50,35,115,95.0,95,1,False
130,131,Lapras,Water,Ice,535.0,130,85,80,85,95.0,60,1,False
138,139,Omastar,Rock,Water,495.0,70,60,125,115,70.0,55,2,False
139,140,Kabuto,Rock,Water,355.0,30,80,90,55,45.0,55,1,False
140,141,Kabutops,Rock,Water,495.0,60,115,105,65,70.0,80,2,False
143,144,Articuno,Ice,Flying,580.0,90,85,100,95,125.0,85,1,True
144,145,Zapdos,Electric,Flying,580.0,90,90,85,125,90.0,100,1,True
145,146,Moltres,Fire,Flying,580.0,90,100,90,125,85.0,90,1,True

In [ ]:
#cara manual
fill_value = 0
df.fillna(fill_value)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
0,1,Bulbasaur,Grass,Poison,318.0,45,49,49,65,65.0,45,1,False
1,2,Ivysaur,Grass,Poison,405.0,60,62,63,80,80.0,60,2,False
2,3,Venusaur,Grass,Poison,525.0,80,82,83,100,100.0,80,3,False
3,4,Charmander,Fire,0,309.0,39,52,43,60,50.0,65,1,False
4,5,Charmeleon,Fire,0,405.0,58,64,58,80,65.0,80,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,Dratini,Dragon,0,300.0,41,64,45,50,50.0,50,1,False
147,148,Dragonair,Dragon,0,420.0,61,84,65,70,70.0,70,2,False
148,149,Dragonite,Dragon,Flying,0.0,91,134,95,100,100.0,80,3,False
149,150,Mewtwo,Psychic,0,680.0,106,110,90,154,90.0,130,1,True
150,151,Mew,Psychic,0,0.0,100,100,100,100,100.0,100,1,False

In [74]:
df.bfill()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
0,1,Bulbasaur,Grass,Poison,318.0,45,49,49,65,65.0,45,1,False
1,2,Ivysaur,Grass,Poison,405.0,60,62,63,80,80.0,60,2,False
2,3,Venusaur,Grass,Poison,525.0,80,82,83,100,100.0,80,3,False
3,4,Charmander,Fire,Flying,309.0,39,52,43,60,50.0,65,1,False
4,5,Charmeleon,Fire,Flying,405.0,58,64,58,80,65.0,80,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,Dratini,Dragon,Flying,300.0,41,64,45,50,50.0,50,1,False
147,148,Dragonair,Dragon,Flying,420.0,61,84,65,70,70.0,70,2,False
148,149,Dragonite,Dragon,Flying,680.0,91,134,95,100,100.0,80,3,False
149,150,Mewtwo,Psychic,NaN,680.0,106,110,90,154,90.0,130,1,True
150,151,Mew,Psychic,NaN,NaN,100,100,100,100,100.0,100,1,False

---

## Bonus Material 

### Read Json Data
to read json to dataframe, use
```python
# download sample json_data_sample.json from google classroom
json_data = pd.read_json('json_data_sample.json')
```

### Read SQLite Data
Download data.db from Google Classroom

```python
# Pandas cannot directly read SQL, so we need to create connection using sqlite3 library
import sqlite3

conn = sqlite3.connect('data.db')
df = pd.read_sql('SELECT * FROM tweets', conn)
```

In [76]:
json_data = pd.read_json('/content/drive/MyDrive/[GOLD] Chapter 3/json_data_sample.json')

In [78]:
json_data

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [77]:
import sqlite3

conn = sqlite3.connect('/content/drive/MyDrive/[GOLD] Chapter 3/data.db')
df = pd.read_sql('SELECT * FROM tweets', conn)

In [79]:
df

,username,text,retweet_count
0,kembarannyaimas,RT @septian: Sekadar mengingatkan: hasil uji k...,0
1,Rian170363Az,"RT @MrsRachelIn: Vaksin corona tiba, Jokowi mi...",0
2,ayu_yude,"RT @jokowi: Semenjak dari awal, saya mengingat...",0
3,cak_iwan,RT @septian: Sekadar mengingatkan: hasil uji k...,0
4,vayakikin,RT @AndreasMarbun_: tanggung jawab pemberantas...,0
...,...,...,...
5634,endanghidayat,"RT @CNNIndonesia: Bentrok Polisi-FPI, KAMI Des...",0
5635,Akun_Purwokerto,RT @SOERYAWAD1: Dimohon kpd para buruh dan tem...,0
5636,AA_Gum_,RT @MegaSimarmata: Mundurlah Bapak Kapolda Met...,0
5637,BaksoAc10516490,@detikcom seiring di sahkannya omnibuslaw ini ...,0
5638,indraanurdin,Parasit,0